<article>
<ul>
    <li>
      <a href="{% url "posts:profile" post.author %}">  
    Автор:{{ post.author.get_full_name }}</a>
  {% if post.author %}  
  {% endif %}
    </li>
    <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
</ul>
<p>
{{ post.text|linebreaks }}
</p>
{% if post.author %}
    <a href="{% url "posts:post_detail" post.pk %}">подробная информация</a>
{% endif %}
</article>
  {% if not group %}
    {% if post.group %}
    <a href="{% url "posts:group_list" post.group.slug %}">все записи группы</a>
  {% endif %}
{% endif %}